[Unit]
Description=Time Sync Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /path/to/TIME.py
Restart=always
User=pi
WorkingDirectory=/path/to/

[Install]
WantedBy=multi-user.target
